<footer>
    <div class="container">
        <div class="footer-top">
            <div class="footer-left">
                <a href="" class="logo"><img src="assets/Icon/logo.svg" alt=""></a>
                <div class="column">
                    <p class="title">Công ty</p>
                    <p>Giới thiệu</p>
                </div>
                <div class="column">
                    <p class="title">Cộng đồng</p>
                    <p>Nhà phát triển</p>
                    <p>Quảng cáo</p>
                    <p>Nhà đầu tư</p>
                </div>
                <div class="column">
                    <p class="title">Liên kết hữu ích</p>
                    <p>Hỗ trợ</p>
                    <p>Ứng dụng di động miễn phí</p>
                </div>
            </div>

            <div class="footer-right">
                <a href="" class="icon"><img src="assets/Icon/twitter.svg" alt=""></a>
                <a href="" class="icon"><img src="assets/Icon/instagram.svg" alt=""></a>
                <a href="" class="icon"><img src="assets/Icon/facebook.svg" alt=""></a>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="footer-left">
                <a href="#">Pháp lý</a>
                <a href="#">Trung tâm bảo mật</a>
                <a href="#">Chính sách Quyền riêng tư</a>
                <a href="#">Cookies</a>
            </div>
            <div class="footer-right">
                <p>Việt Nam (Tiếng Việt) <br><i class="far fa-copyright"></i> 2021 Safo</p>
            </div>

        </div>
    </div>

</footer>