<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container header">
        <a class="navbar-brand logo w-left" href="home">
            <img src="assets/Icon/logo.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-right navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Chủ đề</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="premium">Premium</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="support">Hỗ trợ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="install">Tải app</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-white hidden" href="#" tabindex="-1" aria-disabled="true">|</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng nhập</a>
                </li> -->
                <li class="nav-item">
                    <a  class="nav-link profile" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="assets/Icon/personal.svg" alt="">
                      <span>Hồ sơ</span>
                      <img src="assets/Icon/dropdown.svg" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="account">Tài khoản</a></li>
                      <!-- <li><hr class="dropdown-divider"></li> -->
                      <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>
